USE [master]
GO
/****** Object:  Database [XYZ_Data]    Script Date: 18/10/2013 07:01:22 ******/
CREATE DATABASE [XYZ_Data]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XYZ_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\XYZ_Data.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'XYZ_Data_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\XYZ_Data_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XYZ_Data].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XYZ_Data]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 18/10/2013 07:01:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustId] [int] IDENTITY(1,1) NOT NULL,
	[CustName] [nchar](100) NOT NULL,
	[CustBirthDate] [date] NULL,
	[CustCellPhone] [nchar](20) NULL,
	[CustPhone] [nchar](20) NULL,
	[CustAddr] [nchar](100) NULL,
	[CustZip] [nchar](10) NULL,
	[CustCity] [nchar](50) NULL,
	[CustState] [nchar](2) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PartnerCustomer]    Script Date: 18/10/2013 07:01:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerCustomer](
	[CustId] [int] NOT NULL,
	[PartId] [nchar](20) NOT NULL,
 CONSTRAINT [PK_PartnerCustomer] PRIMARY KEY CLUSTERED 
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PartnerCustomer]  WITH CHECK ADD  CONSTRAINT [FK_PartnerCustomer_Customer] FOREIGN KEY([CustId])
REFERENCES [dbo].[Customer] ([CustId])
GO
ALTER TABLE [dbo].[PartnerCustomer] CHECK CONSTRAINT [FK_PartnerCustomer_Customer]
GO
USE [master]
GO
